<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.jdread">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />


    <application
        android:name=".JDReadApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.StartActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/ActivityFullscreen"/>


        <activity
            android:name=".reader.ui.PreloadActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/ActivityFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activity.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/ActivityFullscreen"/>

        <activity
            android:name=".reader.ui.ReaderActivity"
            android:theme="@style/ActivityFullscreen"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".main.activity.LockScreenActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ActivityFullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name ="com.evernote.client.android.EvernoteOAuthActivity"/>
        <activity android:name ="com.evernote.client.android.login.EvernoteLoginActivity"/>

        <receiver android:name=".main.receiver.UsbStateReceiver">
            <intent-filter android:priority="800">
                <action android:name="android.hardware.usb.action.USB_STATE" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".main.receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".main.receiver.ScreenStateReceive"/>

        <receiver android:name=".main.receiver.PowerOffActionReceiver">
            <intent-filter>
                <action android:name="com.onyx.action.SHOW_POWER_OFF_DIALOG_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
