<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.android.dr"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".DRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LogoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity android:name=".reader.activity.ReaderActivity" />

        <activity
            android:name=".activity.ApplicationsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.DictQueryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activity.DictResultShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.MyNotesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.GoodSentenceTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.GoodSentenceNotebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.NewWordTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.QueryRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.NewWordNotebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.NewWordQueryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.NewWordQueryDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />

        <activity
            android:name=".activity.InformalEssayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.AddInformalEssayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.MemorandumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.AddMemorandumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.HearAndSpeakActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.EBookStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.RecordTimeSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".reader.activity.AfterReadingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.SpeechRecordingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SystemUpdateHistoryActivity"
            android:theme="@style/DialogActivityTheme" />

        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.GroupHomePageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.SearchBookActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".activity.CreateGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".activity.JoinGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".activity.ExitGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.GroupMemberManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.DictSettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".reader.activity.ReadSummaryActivity" />

        <activity
            android:name=".activity.WifiActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/WifiDialogStyle"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.WIFI_ENABLE" />
                <action android:name="com.android.systemui.CONFIGURE_NEW_WIFI_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BookDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activity.PayActivity"
            android:theme="@style/WifiDialogStyle" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/OnyxAppCompat" />

        <activity
            android:name=".activity.ShoppingCartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".activity.BookReportDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".activity.BookReportListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <receiver android:name=".receiver.RecorderReceiver">
            <intent-filter>
                <action android:name="com.onyx.android.dr.CLEAR_FILE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.onyx.android.sdk.data.db.OnyxDataBaseContentProvider_Provider"
            android:authorities="com.onyx.content.database.ContentProvider"
            android:exported="true"
            android:process=":database_content_provider" />
        <provider
            android:name="com.onyx.android.sdk.data.db.OnyxAccountContentProvider_Provider"
            android:authorities="com.onyx.account.database.ContentProvider"
            android:exported="true" />
        <provider
            android:name="com.onyx.android.sdk.data.db.OnyxSystemContentProvider_Provider"
            android:authorities="com.onyx.system.database.ContentProvider"
            android:exported="true" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="598d8099c89576524c0016df" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DR" />

        <service android:name=".service.QueryPayResultService" />
    </application>
</manifest>
