<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.android.settings">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".SettingsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/OnyxAppCompat">

        <meta-data
            android:name="channel"
            android:value="${channel_value}" />
        <meta-data
            android:name="type"
            android:value="${type_value}" />
        <meta-data
            android:name="timestamp"
            android:value="${timestamp_value}" />

        <activity android:name=".view.activity.ErrorReportActivity">
            <intent-filter>
                <action android:name="ocom.onyx.intent.action.ERROR_REPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>