<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.onyx.kreader">
    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="com.onyx.android.dict.TOKEN_SEARCH" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".ui.KReaderApp"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        tools:replace="name,icon,label,theme,allowBackup">

        <meta-data android:name="channel" android:value="${channel_value}"/>
        <meta-data android:name="type" android:value="${type_value}"/>
        <meta-data android:name="platform" android:value="${platform_value}" />

        <activity android:name="com.onyx.kreader.tests.ReaderTestActivity">

        </activity>

        <activity android:name=".ui.ReaderTabHostActivity"
                  android:launchMode="singleInstance"
                  android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:scheme="file" />
                <data android:host="*" android:scheme="content" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="image/vnd.djvu"/>
                <data android:mimeType="image/x-djvu"/>
                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/png"/>
                <data android:mimeType="image/bmp"/>
                <data android:mimeType="image/x-ms-bmp"/>
                <data android:mimeType="image/x-windows-bmp"/>
                <data android:mimeType="application/djvu" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/fb2+xml" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/text" />
                <data android:mimeType="application/txt" />
                <data android:mimeType="application/txt+zip" />
                <data android:mimeType="application/txt.zip" />
                <data android:mimeType="text/html" />
                <data android:mimeType="application/html" />
                <data android:mimeType="application/html+zip" />
                <data android:mimeType="application/html.zip" />
                <data android:mimeType="text/fb2+xml" />
                <data android:mimeType="application/x-fb2" />
                <data android:mimeType="application/fb2" />
                <data android:mimeType="application/fb2.zip" />
                <data android:mimeType="application/fb2+zip" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook+zip" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/epub" />
                <data android:mimeType="application/JEB" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/azw3" />
                <data android:mimeType="application/mobi" />
                <data android:mimeType="application/prc" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/odt" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/x-rtf" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/richtext" />
                <data android:mimeType="application/rtf+zip" />
                <data android:mimeType="application/rtf.zip" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/doc" />
                <data android:mimeType="application/docx" />
                <data android:mimeType="application/vnd.msword" />
                <data android:mimeType="application/vnd.ms-word" />
                <data android:mimeType="application/winword" />
                <data android:mimeType="application/word" />
                <data android:mimeType="application/x-msw6" />
                <data android:mimeType="application/x-msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/doc+zip" />
                <data android:mimeType="application/doc.zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*"/>
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.azw"/>
                <data android:pathPattern=".*\\.azw3"/>
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.[cC][bB][zZ]" />
                <data android:pathPattern=".*\\.[cC][bB][rR]" />
                <data android:pathPattern=".*\\.[dD][jJ][vV][uU]" />
                <data android:pathPattern=".*\\.[eE][pP][uU][bB]"/>
                <data android:pathPattern=".*\\.doc"/>
                <data android:pathPattern=".*\\.docm"/>
                <data android:pathPattern=".*\\.docx"/>
                <data android:pathPattern=".*\\.epub"/>
                <data android:pathPattern=".*\\.epub\\.zip"/>
                <data android:pathPattern=".*\\.fb2"/>
                <data android:pathPattern=".*\\.fb2\\.zip"/>
                <data android:pathPattern=".*\\.fbz"/>
                <data android:pathPattern=".*\\.mobi"/>
                <data android:pathPattern=".*\\.JEB"/>
                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\.pdb"/>
                <data android:pathPattern=".*\\.[pP][dD][fF]" />
                <data android:pathPattern=".*\\.prc"/>
                <data android:pathPattern=".*\\.rtf"/>
                <data android:pathPattern=".*\\.sxw"/>
                <data android:pathPattern=".*\\.trc"/>
                <data android:pathPattern=".*\\.txt"/>
                <data android:pathPattern=".*\\.zip"/>
            </intent-filter>

        </activity>

        <receiver android:name=".ui.ReaderTabHostBroadcastReceiver">
            <intent-filter>
                <action android:name="com.onyx.kreader.action.CHANGE_SCREEN_ORIENTATION" />
                <action android:name="com.onyx.kreader.action.ENTER_FULL_SCREEN" />
                <action android:name="com.onyx.kreader.action.QUIT_FULL_SCREEN" />
                <action android:name="com.onyx.android.sdk.action_enable_reader_debug_log" />
                <action android:name="com.onyx.android.sdk.action_disable_reader_debug_log" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.ReaderTab1Activity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:process=":reader_tab_1"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection">
        </activity>

        <receiver android:name=".ui.ReaderTab1BroadcastReceiver"
            android:process=":reader_tab_1">
            <intent-filter>
                <action android:name="com.onyx.kreader.action.CLOSE_READER" />
                <action android:name="com.onyx.kreader.action.RESIZE_WINDOW" />
                <action android:name="com.onyx.kreader.action.DOCUMENT_ACTIVATED" />
                <action android:name="com.onyx.kreader.action.ENABLE_DEBUG_LOG" />
                <action android:name="com.onyx.kreader.action.DISABLE_DEBUG_LOG" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.ReaderTab2Activity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:process=":reader_tab_2"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection">
        </activity>

        <receiver android:name=".ui.ReaderTab2BroadcastReceiver"
            android:process=":reader_tab_2">
            <intent-filter>
                <action android:name="com.onyx.kreader.action.CLOSE_READER" />
                <action android:name="com.onyx.kreader.action.RESIZE_WINDOW" />
                <action android:name="com.onyx.kreader.action.DOCUMENT_ACTIVATED" />
                <action android:name="com.onyx.kreader.action.ENABLE_DEBUG_LOG" />
                <action android:name="com.onyx.kreader.action.DISABLE_DEBUG_LOG" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.ReaderTab3Activity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:process=":reader_tab_3"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection">
        </activity>

        <receiver android:name=".ui.ReaderTab3BroadcastReceiver"
            android:process=":reader_tab_3">
            <intent-filter>
                <action android:name="com.onyx.kreader.action.CLOSE_READER" />
                <action android:name="com.onyx.kreader.action.RESIZE_WINDOW" />
                <action android:name="com.onyx.kreader.action.DOCUMENT_ACTIVATED" />
                <action android:name="com.onyx.kreader.action.ENABLE_DEBUG_LOG" />
                <action android:name="com.onyx.kreader.action.DISABLE_DEBUG_LOG" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.ReaderTab4Activity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:process=":reader_tab_4"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection">
        </activity>

        <receiver android:name=".ui.ReaderTab4BroadcastReceiver"
            android:process=":reader_tab_4">
            <intent-filter>
                <action android:name="com.onyx.kreader.action.CLOSE_READER" />
                <action android:name="com.onyx.kreader.action.RESIZE_WINDOW" />
                <action android:name="com.onyx.kreader.action.DOCUMENT_ACTIVATED" />
                <action android:name="com.onyx.kreader.action.ENABLE_DEBUG_LOG" />
                <action android:name="com.onyx.kreader.action.DISABLE_DEBUG_LOG" />
            </intent-filter>
        </receiver>

        <activity android:name="com.onyx.android.cropimage.CropImageActivity" />

        <activity android:name=".ui.settings.MainSettingsActivity"/>
        <activity android:name=".ui.settings.SystemSettingsActivity"/>
        <activity android:name=".ui.settings.ScreenSettingsActivity"/>
        <activity android:name=".ui.settings.ConfigSettingsActivity"/>
        <activity android:name=".ui.settings.ScribbleBarSettingsActivity"/>
        <activity android:name=".ui.settings.ControlSettingsActivity"/>
        <activity android:name=".ui.settings.StatusBarSettingsActivity"/>
        <activity
            android:exported="true"
            android:label="@string/statistics_shortcut_name"
            android:icon="@drawable/statistics_icon"
            android:name=".ui.statistics.StatisticsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.onyx.kreader.ui.ReaderMetadataService"
                 android:process=":metadataservice"
                 android:enabled="true" android:exported="true">

            <intent-filter>
                <action android:name="com.onyx.android.sdk.data.IntentFactory.ACTION_EXTRACT_METADATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:scheme="file" />
                <data android:host="*" android:scheme="content" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.onyx.android.sdk.data.IntentFactory.ACTION_EXTRACT_METADATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*"/>
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.[pP][dD][fF]" />
            </intent-filter>
        </service>

        <provider
            android:authorities="com.onyx.kreader.statistics.provider"
            android:exported="true"
            android:name="com.onyx.android.sdk.data.db.OnyxStatisticsContentProvider_Provider"/>

        <receiver android:name=".ui.receiver.NetworkConnectChangedReceiver">
        </receiver>
    </application>


</manifest>
