<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.onyx.android.edu"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".EduApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="channel" android:value="${channel_value}"/>
        <meta-data android:name="type" android:value="${type_value}"/>

        <activity android:name=".ui.exerciserespond.ExerciseRespondActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.respondresult.RespondResultActivity">
        </activity>
        <activity
            android:name=".ui.chooseexercise.ChooseExerciseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chapter.ChapterTypeActivity">
        </activity>
        <activity
            android:name=".ui.wrongquestions.WrongQuestionActivity">
        </activity>
        <activity android:name=".ui.myexercise.MyExerciseActivity">
        </activity>
        <activity android:name=".ui.speakingexercise.SpeakingExerciseActivity">
        </activity>
        <activity android:name=".ui.exercisedetail.ExerciseDetailActivity"/>
        <activity android:name=".ui.chooseexercise.ChooseStudyingStageActivity"/>
        <activity android:name=".ui.findexercise.FindExerciseActivity"/>
        <activity android:name=".ui.exercisepractise.ExercisePractiseActivity"/>
        <activity android:name=".RecyclerViewTestActivity"/>
        <activity android:name=".ToolbarTestActivity"/>
    </application>

</manifest>