<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.onyx.kreader">
    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="com.onyx.android.dict.TOKEN_SEARCH" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".ui.KReaderApp"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        tools:replace="name,icon,label,theme,allowBackup">

        <meta-data android:name="channel" android:value="${channel_value}"/>
        <meta-data android:name="type" android:value="${type_value}"/>
        <meta-data android:name="platform" android:value="${platform_value}" />

        <activity android:name="com.onyx.kreader.tests.ReaderTestActivity">

        </activity>

        <activity android:name="com.onyx.android.cropimage.CropImageActivity" />

        <activity android:name=".ui.settings.MainSettingsActivity"/>
        <activity android:name=".ui.settings.SystemSettingsActivity"/>
        <activity android:name=".ui.settings.ScreenSettingsActivity"/>
        <activity android:name=".ui.settings.ConfigSettingsActivity"/>
        <activity android:name=".ui.settings.ScribbleBarSettingsActivity"/>
        <activity android:name=".ui.settings.ControlSettingsActivity"/>
        <activity android:name=".ui.settings.StatusBarSettingsActivity"/>
        <activity
            android:exported="true"
            android:label="@string/statistics_shortcut_name"
            android:icon="@drawable/statistics_icon"
            android:name=".ui.statistics.StatisticsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.onyx.kreader.ui.ReaderMetadataService"
                 android:process=":metadataservice"
                 android:enabled="true" android:exported="true">

            <intent-filter>
                <action android:name="com.onyx.android.sdk.data.IntentFactory.ACTION_EXTRACT_METADATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" android:scheme="file" />
                <data android:host="*" android:scheme="content" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.onyx.android.sdk.data.IntentFactory.ACTION_EXTRACT_METADATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*"/>
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.[pP][dD][fF]" />
            </intent-filter>
        </service>

        <provider
            android:authorities="com.onyx.kreader.statistics.provider"
            android:exported="true"
            android:name="com.onyx.android.sdk.data.db.OnyxStatisticsContentProvider_Provider"/>

        <provider
            android:authorities="com.onyx.content.database.ContentProvider"
            android:exported="true"
            android:process=":database_content_provider"
            android:name="com.onyx.android.sdk.data.db.OnyxDataBaseContentProvider_Provider"/>

        <provider
            android:authorities="com.onyx.account.database.ContentProvider"
            android:exported="true"
            android:name="com.onyx.android.sdk.data.db.OnyxAccountContentProvider_Provider"/>

        <receiver android:name=".ui.receiver.NetworkConnectChangedReceiver">
        </receiver>
    </application>


</manifest>
