<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.android.note">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/OnyxAppCompat">

        <meta-data
            android:name="channel"
            android:value="${channel_value}" />
        <meta-data
            android:name="type"
            android:value="${type_value}" />
        <meta-data
            android:name="platform"
            android:value="${platform_value}" />

        <activity android:name=".activity.mx.ManagerActivity" />
        <activity
            android:name=".activity.mx.ScribbleActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.onyx.ManagerActivity" />

        <activity
            android:name=".activity.onyx.ScribbleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/x-windows-bmp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.onyx.SpanScribbleActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.onyx.SettingActivity" />
    </application>

</manifest>